body{
    text-align:center
}

.center { margin-right: auto; margin-left: auto; }
body span {
    font-size: 14px;
    font-family: simsum;
}

span {
    font-size: 14px;
}

pre {
    font-size: 14px;
    font-family: simsum;
}

img {
    width: 100px;
    height: 50px;
}

#firstCircleTable {
    width: 794px;
    height: 1123px;
    border: solid black;
    border-width: 2px 1px 1px 2px;
}

.innerTable, .titleTable {
    width: 100%;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
    border: 0px solid black;
}

.innerTable td {
    border: solid black;
    border-width: 0px 1px 1px 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tableTitleToRight {
    text-align: right;
}

.innerTableTitle {
    background-color: #CDCDCD;
    width: 100%;
    border-width: 0px 1px 1px 0px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

*[name="leftText"] {
    text-align: left;
    vertical-align: middle;
}

.TablefHead {
    width: 100%;
    height: 100px;
}

.TablefHead tr {
    height: 41px;
}
.TablefHead  td {
    border: solid #d4d4d4;
    border-width: 0px 1px 1px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
/*内容表格*/
.contentTable tr {
    height: 41px;
}
.contentTable{
    width: 100%;
}
.contentTable  td {
    border: solid #d4d4d4;
    border-width: 0px 1px 1px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.innerTable{
    text-align: left;
}
.contentTableNoBorder{
    width: 100%;
    text-align: left;
}
.contentTableNoBorder td{
    border-width: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.contentTableNoBorder tr {
    height: 41px;
}
.left{
    text-align: left;
}
/*   .divcss5{
          !*width: 794px;*!
          margin:0 auto;border:1px solid #000;
          border-width: 2px 2px 2px 2px;
      }*/
.TablefHead{
    width: 700px;
    margin:0 auto;
    border:1px solid #000;
    border-width: 2px 2px 2px 2px;
}
.contentTable{
    width: 700px;
    margin:0 auto;
    border:1px solid #000;
    border-width: 2px 2px 2px 2px;
}



.dataChangeTable{
    width: 500px;
    margin:0 auto;
    border:1px solid #bcbcbc;
    border-width: 2px 2px 2px 2px;
}
.dataChangeTable  td {
    border: solid #d4d4d4;
    border-width: 0px 1px 1px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}